<div class="todolist">

    <div class="add-item-to-list">
            <input class="add-item" type="text" placeholder="New Item">
            <button class="btn" onclick="addTask()"></button>
    </div>

    <ul class="list">
    </ul>
    
</div>