<%- include("partials/header.ejs") %>

<div class="container">
        
    <div class="title">
        <h1 class="second-title">Work List</h1>
    </div>

<div class="todolist">

    <div class="list"><input type="checkbox" ><p></p></div>
    <div class="list"><input type="checkbox" ><p></p></div>
    <div class="add-item-to-list">
        <form action="" method="post">
            <input class="add-item" type="text" placeholder="New Item">
            <button type="submit"></button>
        </form>
    </div>
    
</div>

</div>
    
<%- include("partials/footer.ejs") %>