<%- include("partials/header.ejs") %>

<div class="container">
        
    <div class="title">
        <h1 class="second-title">Work List</h1>
    </div>

    <%- include("partials/todo.ejs") %>


</div>

<script src="script.js"></script>

    
<%- include("partials/footer.ejs") %>